{{#message situation "registerOk"}}
<div class="alert alert-success text-center w-50">OK: Product successfully registered!</div>
{{/message}}

{{#message situation "registerError"}}
<div class="alert alert-danger text-center w-50">ERROR: Product was not registered!</div>
{{/message}}

{{#message situation "updateOk"}}
<div class="alert alert-success text-center w-50">OK: Product successfully updated!</div>
{{/message}}

{{#message situation "updateError"}}
<div class="alert alert-danger text-center w-50">ERROR: Product was not updated!</div>
{{/message}}

{{#message situation "deleteOk"}}
<div class="alert alert-success text-center w-50">OK: Product successfully deleted!</div>
{{/message}}

{{#message situation "deleteError"}}
<div class="alert alert-danger text-center w-50">ERROR: Product was not deleted!</div>
{{/message}}