<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        * {
            user-select: none;
        }
        body {
            min-height: 100vh;
        }

        img {
            width: 150px;
        }

        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
            appearance: none;
        }
    </style>

    <title>Shopping</title>
</head>
{{!-- Uso inadequado do 'align-items-center' no elemento body causa um erro de visualização da página no navegador. --}}
<body class="d-flex justify-content-center bg-dark my-5">
    {{{body}}}
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>