<main class="card p-4">
    <div class="row">
        <div>
            <form class="d-flex flex-column gap-3">
                {{!-- input:text é um atalho válido para se criar o elemento. --}}
                <input type="text" class="form-control" placeholder="Produtc's name">
                <input type="number" class="form-control" placeholder="Produtc's value">
                <input type="file" class="form-control">
                <input type="submit" class="btn btn-success" value="Register">
            </form>
        </div>
    </div>
</main>